.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ohjaus {
  display: flex;
  padding: 0;
  flex-direction: column;
}

.ohjaus > p {
  font-size: 24px;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.2em;
  color: white;
  margin: 0px;
}

.peliohjaimet {
  font-size: 0.8em;
}

.App-link {
  color: #0dd8b0;
}

.bigbutton {
  font-size: 32px;
}

.lista {
  font-size: 0.8em;
}

.rs-play {
  max-width: 22% !important;
  background-color: #0dd8b0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
