body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sans-serif;
}

.otsake {
  font-size: 1.0em;
}

.otsake > p {
  margin-bottom: 2em;
  font-size: 0.5em;
  text-transform: uppercase;

}

ul {
  margin: 5px;
}

p {
  margin: 5px;
}

button {
  background-color: transparent;
  border: 2px solid #0dd8b0;
  color: #0dd8b0;
  padding: 15px 32px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;
  font-size: 16px;
}

.footer {
  font-size: 0.2em;
  margin-top: 5em;
}
